{% extends 'base.html' %} {% block head %}
<title>Swirl</title>
{% endblock head %} {% block content %}
<section class="playlist-container">
  {% for playlist in playlist %}
  <div class='playlist'>
    <h1>{{playlist.title}}</h1>
  </div>
  <div class='playlist'>
    <h1>{{playlist.title}}</h1>
  </div>
  <div class='playlist'>
    <h1>{{playlist.title}}</h1>
  </div>
  <div class='playlist'>
    <h1>{{playlist.title}}</h1>
  </div>
  <div class='playlist'>
    <h1>{{playlist.title}}</h1>
  </div>
  <div class='playlist'>
    <h1>{{playlist.title}}</h1>
  </div>
  <div class='playlist'>
    <h1>{{playlist.title}}</h1>
  </div>
  <div class='playlist'>
    <h1>{{playlist.title}}</h1>
  </div>
  <div class='playlist'>
    <h1>{{playlist.title}}</h1>
  </div>
  <div class='playlist'>
    <h1>{{playlist.title}}</h1>
  </div>
  <div class='playlist'>
    <h1>{{playlist.title}}</h1>
  </div>
  <div class='playlist'>
    <h1>{{playlist.title}}</h1>
  </div>
  <div class='playlist'>
    <h1>{{playlist.title}}</h1>
  </div>
  {% endfor %}
</section>
{% endblock content %}
