@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=DM+Serif+Display:ital@0;1&family=Oleo+Script+Swash+Caps:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: 'DM Serif Display', serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Playfair Display', serif; */

:root {
  font-size: 62.5%;

  --nav-bg: antiquewhite;

  --font-xtreme: 4.2rem;
  --font-xxl: 3.6rem;
  --font-xl: 2.4rem;
  --font-l: 1.8rem;
  --font-reg: 1.6rem;

  --font-clr-light: whitesmoke;

  --font-serif: "DM Serif Display";
  --font-serif-2: "Playfair Display";
  --font-sans: "DM Sans";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-sans);
}

/*? =========== Header ============ */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 2rem;
  background-color: var(--nav-bg);
  font-family: var(--font-sans);
}

header > h1 {
  font-size: var(--font-xl);
  font-family: var(--font-sans);
}

.nav-links {
  display: flex;
  gap: 1rem;
  font-size: var(--font-reg);
}

/*? =========== End Header ============ */

/*? =========== Main ============ */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

/** =========== Home ============ */

.playlist-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 1300px;
  height: 5rem;
  margin-top: 1rem;
  font-family: var(--font-sans);
}

.playlist-container {
  display: grid;
  gap: 1rem;
  margin-bottom: 3rem;
  grid-template-columns: repeat(2, 1fr);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.playlist {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 25rem;
  width: 25rem;
  padding: 0.5rem 0.8rem;
  background-position: center;
  background-size: cover;
}

.playlist-top > * {
  font-family: var(--font-sans);
  color: var(--font-clr-light);
}

.playlist-top > h2 {
  font-weight: 700;
}

.playlist:hover .play-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-container {
  position: absolute;
  outline: 1.5px solid white;
  display: none;
  
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: var(--font-clr-light);
  top: 50%; 
  left: 50%; 
  transform: translate(-50%,-50%); 
}

.home-play {
  
}

/** =========== End Home ============ */

/** =========== Details ============ */

.details-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
  width: 100%;
  
  background-position: top;
  background-size: cover;
}

.details-content-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: fit-content;
  width: 85%;
  /* background-color: rgb(185, 174, 161); */
  padding: 2rem;
}

.details-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 30rem;
  width: 30rem;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.details-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
  flex-grow: 1;
  color: var(--font-clr-light);
}

.details-button-container {
  position: absolute;
  top: 7.5em;
  color: rgba(245, 245, 245, 1);
}

.details-description-container > h1 {
  font-size: calc(var(--font-xl));
  font-family: var(--font-serif);
  /* line-height: 1.25; */
}

.details-description-container > p {
  font-size: calc(var(--font-reg) * 0.6);
  font-family: var(--font-sans);
}

.details-main {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 85%;
  counter-reset: tracks;
}

.details-main-header {
  display: flex;
  gap: 2rem;
  padding-inline: 2rem;
}

.th {
  font-size: calc(var(--font-reg) * 0.6);
}

.details-main-header > div {
  display: flex;
  flex-grow: 1;
}

.song-hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.details-song-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-inline: 2rem;
  border-radius: 6px;
}

.overlay-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  cursor: default;
}

#play {
  display: none;
  width: 8px;
}

#count {
  display: block;
  width: 8px;
}

#more {
  display: none;
}

#song:hover {
  counter-increment: tracks;
  background-color: antiquewhite;
}

#song:hover #play {
  display: block !important;
}

#song:hover #count {
  display: none !important;
}

#song:hover > #content > #more {
  display: block;
}

.details-song-counter::before {
  counter-increment: tracks;
  content: counter(tracks);
  font-size: calc(var(--font-reg) * 0.8);
}

.details-song-content {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
}

.details-song-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.45;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.details-song-header > h1,
h2 {
  font-size: calc(var(--font-reg) * 0.8);
  font-family: var(--font-sans);
  color: hsl(0, 0%, 0%);
  font-weight: 400;
}

.details-song-header > h2 {
  font-size: calc(var(--font-reg) * 0.6);
  font-family: var(--font-sans);
  color: hsla(0, 0%, 20%, 0.7);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.details-song-album {
  display: flex;
  justify-content: flex-start;
}

.details-song-album > h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: calc(var(--font-reg) * 0.7);
}

.details-song-year > h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: calc(var(--font-reg) * 0.7);
}

.details-song-year {
  display: flex;
  justify-content: flex-start;
}

.details-song-details {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  color: rgba(0, 0, 0, 0.5);
}

.details-song-details-popup {
  position: absolute;
  height: 5rem;
  outline: 1px solid red;
  top: -10rem;
  right: 0;
}

.details-add-song-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 5rem;
  padding-inline: 2rem;
  border-radius: 6px;
}

.details-add-song-button {
  border-radius: 3rem;
  font-size: calc(var(--font-reg) * .6);
  padding: 1rem 3rem;
  color: whitesmoke;
  cursor: pointer;
}

.details-add-song-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(240, 248, 255, 0.244);
  z-index: 100;
}

.details-edit-song-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(240, 248, 255, 0.244);
  z-index: 100;
}

.details-add-song-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  color: white;
  justify-content: space-between;
  height: 30rem;
  width: 30rem;
  padding: 2rem;
}

.details-add-song-form > p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-buttons-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.details-submit-song-button {
  font-size: calc(var(--font-reg) * .8);
  border: 2px solid whitesmoke;
  border-radius: 3rem;
  padding: .5rem 2rem;
  background-color: whitesmoke;
  color: black;
  align-self: center;
  cursor: pointer;
  z-index: 1000;
}

.details-cancel-song-button {
  font-size: calc(var(--font-reg) * .8);
  border: 2px solid whitesmoke;
  border-radius: 3rem;
  padding: .5rem 2rem;
  background-color: whitesmoke;
  color: black;
  align-self: center;
  cursor: pointer;
  z-index: 1000;
}

.details-add-song-form > p > label {
  font-size: calc(var(--font-reg) * .8);
  width: 30%;
}

.details-add-song-form > p > input {
  font-size: calc(var(--font-reg) * .8);
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid whitesmoke;
  flex-grow: 1;
  color: var(--font-clr-light);
}

.details-song-details:hover {
  color: rgba(0, 0, 0, 1);
}

.song-col-header {
  width: 40%;
}

.song-col-album {
  width: 40%;
}

.song-col-year {
  width: 20%;
}

@media only screen and (max-width: 1080px) {
  .song-col-album {
    width: 50%;
  }

  .song-col-year {
    width: 10%;
  }

  .details-banner {
    height: 32.5rem;
  }

  .details-image-container {
    height: 27.5rem;
    width: 27.5rem;
  }
}

@media only screen and (max-width: 820px) {
  .details-banner {
    height: 30rem;
  }

  .details-image-container {
    height: 25rem;
    width: 25rem;
  }
}

@media only screen and (max-width: 770px) {
  .details-banner {
    height: 25rem;
  }

  .details-image-container {
    height: 20rem;
    width: 20rem;
  }
}

@media only screen and (max-width: 700px) {
  .details-banner {
    height: 22.5rem;
  }

  .details-image-container {
    height: 17.5rem;
    width: 17.5rem;
  }
}

@media only screen and (max-width: 660px) {
  .details-description-container {
    line-height: 1.25;
  }
}

@media only screen and (max-width: 600px) {
  .song-col-header {
    width: 50%;
  }

  .song-col-album {
    width: 42.5%;
  }

  .song-col-year {
    display: none;
  }
}

@media only screen and (max-width: 540px) {
  .details-content-container {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding: 2rem;
  }

  .details-banner {
    height: 40rem;
  }

  .details-image-container {
    height: 25rem;
    width: 25rem;
  }


  .details-description-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25rem;
    line-height: 1.25;

  }
}

/** =========== End Details ============ */

/** =========== Create ============ */

.create-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45rem;

  width: 100%;
  outline: 1px solid red;
}

.create-form-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 70%;
  width: 70%;
}

.create-form-container > p {
  display: flex;
  flex-direction: column;
}

/** =========== End Create ============ */

@media only screen and (min-width: 300px) {
  .playlist-header {
    width: calc(310px * 1.1);
  }
  .playlist {
    height: 15rem;
    width: 15rem;
  }
}

@media only screen and (min-width: 505px) {
  .playlist-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .playlist-header {
    width: calc(410px * 1.1);
  }
  .playlist {
    height: 20rem;
    width: 20rem;
  }
}

@media only screen and (min-width: 820px) {
  .playlist-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .playlist-header {
    width: calc(620px * 1.1);
  }
}

@media only screen and (min-width: 1150px) {
  .playlist-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .playlist-header {
    width: calc(830px * 1.1);
  }
}

@media only screen and (min-width: 1350px) {
  .playlist-container {
    grid-template-columns: repeat(5, 1fr);
  }
  .playlist-header {
    width: calc(1300px * 1.1);
  }
}

/*? =========== End Main ============ */

/*? =========== General Classes ============ */

.icon {
  font-size: calc(var(--font-reg) * 1.2);
}

.italic {
  font-style: italic;
}

.invisible {
  display: none !important;
}
